*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#game-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cell{
    background-color: aqua;
    padding: 6rem;
    border: 1px solid black;
}